*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;
}

#header{
    height: 100;
    background-image: url(images/background.png);
    background-position:center;
    background-size: cover;
}

.animate{

    min-height: 100vh;
    width:auto;
    background-color: black;
    background-image: url(images/background.gif);
    background-position: center;
    background-color:black;
    background-repeat: no-repeat;
    background-size: 70%;
    color:whitel
    padding 0 8%
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;    
}

nav ul li a{
    color:blue;
    font-size: medium;
    font-weight:bolder;
    text-decoration:none;
}
.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,

        0 0 42px #5271ff,
        0 0 82px #5271ff,
        0 0 92px #5271ff,
        0 0 102px #5271ff,
        0 0 151px #5271ff;
  }